*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

:root {
  --main-clr-neutral-darkgrayblue: hsl(218, 23%, 16%);
  --main-clr-neutral-grayblue: hsl(217, 19%, 24%);
  --main-clr-primary-cyan: hsl(193, 38%, 86%);
  --main-clr-primary-green: hsl(150, 100%, 66%);
}

body {
  align-items: center;
  background-color: var(--main-clr-neutral-darkgrayblue);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.container {
  align-items: center;
  background-color: var(--main-clr-neutral-grayblue);
  border-radius: 10px;
  box-shadow: 1.875rem 3.125rem 5rem rgba(0, 0, 0, 0.100202);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.advice-header {
  color: var(--main-clr-primary-green);
  font-size: 0.6875rem;
  letter-spacing: 0.2161rem;
  line-height: 0.9375rem;
  margin-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.advice-text {
  color: var(--main-clr-primary-cyan);
  font-size: 1.5rem;
  letter-spacing: -0.0163rem;
  line-height: 2.0625rem;
  margin: 1.5rem;
  text-align: center;
}

.advice-text::before {
  content: open-quote;
}

.advice-text::after {
  content: close-quote;
}

.line {
  background-image: url("./images/pattern-divider-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 1rem;
  width: 100%;
}

button {
  background-color: var(--main-clr-primary-green);
  background-image: url(./images/icon-dice.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  height: 4rem;
  transform: translateY(50%);
  transition: all 0.15s ease-in-out;
  width: 4rem;
}

button:hover {
  box-shadow: 0 0 2.5rem var(--main-clr-primary-green);
  cursor: pointer;
}

@media (min-width: 641px) {
  .container {
    border-radius: 0.9375rem;
    max-width: 33.75rem;
  }

  .advice-header {
    font-size: 0.8125rem;
    letter-spacing: 4.08571px;
    line-height: 1.125rem;
    top: calc(50% - 18px / 2 - 125px);
  }

  .advice-text {
    font-size: 1.75rem;
    letter-spacing: -0.0187rem;
    line-height: 2.375rem;
    margin: 1.5rem 3rem;
  }

  .line {
    background-image: url("./images/pattern-divider-desktop.svg");
  }
}

@media (min-width: 1281px) {
  .container {
    max-width: 37.5vw;
  }
}
