/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary-softblue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);

    --clr-neutral-mainbg: hsl(217, 54%, 11%);
    --clr-neutral-cardbg: hsl(216, 50%, 16%);
    --clr-neutral-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);
}

html, body {
    font-family: 'Outfit', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-mainbg);
}

.card {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: var(--clr-neutral-cardbg);
    border-radius: .9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
    width: 20.4375rem;

}

.card-top {
    position: relative;
}


.overlay {
    transition: .4s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--clr-primary-cyan);
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .4s ease;
    height: 17.375rem;
    width: 17.375rem;
}

.overlay:hover {
    opacity: 0.5;
}

.overlay:hover img {
    opacity: 1;
    z-index: 5;
}

.card-top img {
    border-radius: .5rem;
}

h1 {
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.75rem;
    color: var(--clr-neutral-white);
    margin-bottom: .75rem;
}

.description {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: var(--clr-primary-softblue);
    margin-bottom: 1rem;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.eth {
    font-weight: 600;
    font-size: .9375rem;
    line-height: 1.1875rem;
    color: var(--clr-primary-cyan);
    display: flex;
}

.eth img {
    margin-right: .405rem;
}

.time {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: .9375rem;
    line-height: 1.1875rem;
    color: var(--clr-primary-softblue);
    
}

.time img {
    margin-right: .4813rem;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--clr-neutral-line);
    border-top: 1px solid var(--clr-neutral-line);
    background-color: var(--clr-neutral-line);
    /* height:1px; */
}

.creator {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: .9375rem;
    line-height: 1.1875rem;
    color: var(--clr-primary-softblue);
}

.creator img {
    border: 1px solid var(--clr-neutral-white);
    border-radius: 50%;
    margin-right: 1rem;
}

.creator-name {
    margin-left: .3125rem;
    color: var(--clr-neutral-white);
}

h1:hover, .creator-name:hover {
    cursor: pointer;
    color: var(--clr-primary-cyan);
}


@media only screen and (min-width: 500px) {
    .card {
        width: 21.875rem;
        height: 37.25rem;
        /* justify-content: space-between; */
        
    }

.card-top {
}

    .card-bottom {
        margin-top: 1.5rem;
    }

    .description {
        margin-bottom: 1.5rem;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .image {
        height: 18.875rem;
        width: 18.875rem;
        
    }

    .line {
        margin-top: 1.5rem;
    }

}
