@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  /* COLORS */
  --clr-green: #66e2dc;
  --clr-orange: #fa7453;
  --clr-yellow: #ffb964;
  --clr-light: #fcfaf9;
  --clr-dark: #191826;

  /* TYPOGRAPHY */
  --fs-mobile-h1: 2.5rem;
  --ls-modile-h1: -0.0284rem;

  --font-fs-1: 1.25rem;
  --font-lh-1: 170%;
  --font-fs-2: 1rem;
  --font-lh-2: 162%;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  padding: 2.5rem 1.5rem;
  background-image: url("./starter-code/assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left -200px;
}

header {
  margin-bottom: 4rem;
}

h1,
h2 {
  font-weight: 800;
  color: var(--clr-dark);
}

h1 {
  font-size: var(--fs-mobile-h1);
  line-height: 120%;
  letter-spacing: var(--ls-modile-h1);
  margin-bottom: 0.5em;
}

.hero {
  margin-bottom: 4.25rem;
}

.hero p {
  font-size: 16px;
  line-height: 162%;
  /* or 162% */
}

h2 {
  font-size: 2.5rem;
  line-height: 130%;
}

.button {
  border-radius: 0.75rem;
}
