@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  /* COLORS */
  --clr-green: #66e2dc;
  --clr-orange: #fa7453;
  --clr-yellow: #ffb964;
  --clr-light: #fcfaf9;
  --clr-dark: #191826;

  /* TYPOGRAPHY */
  --fs-mobile-h1: 2.5rem;
  --ls-modile-h1: -0.0284rem;
  --fs-mobile-h2: 2rem;

  --font-fs-1: 1.25rem;
  --font-lh-1: 170%;
  --font-fs-2: 1rem;
  --font-lh-2: 162%;
}

* {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-image: url("./starter-code/assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left -200px;
}

header {
  padding: 2.5rem 1.5rem 2rem;
}

h1,
h2 {
  font-weight: 800;
  color: var(--clr-dark);
}

h1 {
  font-size: var(--fs-mobile-h1);
  line-height: 120%;
  letter-spacing: var(--ls-modile-h1);
  margin-bottom: 0.5em;
}

.hero {
  margin-bottom: 2.75rem;
  padding: 2rem 1.5rem;
}

.hero p {
  font-size: 16px;
  line-height: 162%;
}

h2 {
  font-size: var(--fs-mobile-h2);
  line-height: 125%;
  margin-bottom: 0.375em;
  color: var(--clr-light);
}

.button {
  border-radius: 0.75rem;
  display: block;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0.9375rem auto;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 178%;
  text-align: center;
  letter-spacing: -0.0112rem;
}

.button__icon {
  margin-right: 0.5rem;
}

.ios {
  background: var(--clr-dark);
  color: var(--clr-light);
}

.android {
  background: var(--clr-light);
  color: var(--clr-dark);
}

.app-information {
  background-color: var(--clr-dark);
  border-radius: 0.75rem;
  background-image: url("./starter-code/assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 75%;
}

.app-image {
  width: 56%;
  margin: 8rem auto;
  transform: translateY(-6.25rem);
}

.premiumeq {
  background: var(--clr-orange);
  border-radius: 0.75rem;
  margin-left: 0;
  padding: 3rem 2.25rem;
  color: var(--clr-light);
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 156%;
  margin-top: -11rem;
}

.premiumeq > p {
  margin-bottom: 2.25rem;
}

.price {
  font-weight: bold;
  font-size: 4.0625rem;
  line-height: 80%;
  display: flex;
  align-items: center;
}

.price-small {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: -1%;
  margin-left: 1rem;
}

footer {
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "footer-logo"
    "footer-text"
    "footer-socials";
  padding: 5rem 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  margin-bottom: 4rem;
}

.footer--logo {
  grid-area: footer-logo;
}

.footer-text {
  grid-area: footer-text;
  font-size: 1rem;
  line-height: 162%;
  margin-bottom: 4rem;
}

.footer-socials {
  grid-area: footer-socials;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo--footer {
  margin-bottom: 2em;
}

.footer--logo {
  align-self: baseline;
}

.footer-text a {
  font-weight: bold;
  text-decoration: none;
  color: var(--clr-dark);
}

.footer-text a:hover {
  color: var(--clr-orange);
}

.footer-socials {
  display: flex;
  flex-direction: row;
}
.footer-socials img {
}

.button:hover {
  cursor: pointer;
}

.ios:hover {
  background-color: var(--clr-green);
}

.android:hover {
  background-color: var(--clr-yellow);
}

.footer-socials img:hover {
  cursor: pointer;
  fill: var(--clr-orange);
}

.social-icon {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  background-size: cover;
  margin-right: 1.25rem;
}
.icon-facebook {
  background-image: url("./starter-code/assets/icon-facebook.svg");
}

.icon-instagram {
  background-image: url("./starter-code/assets/icon-instagram.svg");
}

.icon-twitter {
  background-image: url("./starter-code/assets/icon-twitter.svg");
}

.social-icon:hover,
.social-icon:focus {
  filter: invert(61%) sepia(40%) saturate(1497%) hue-rotate(322deg)
    brightness(95%) contrast(107%);
  cursor: pointer;
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  body {
    padding: 3.875rem 2.4375rem;
    background-image: url("./starter-code/assets/bg-main-tablet.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -400px -250px;
  }

  header::after {
    content: "";
    top: -32px;
    right: -35px;
    width: 267px;
    height: 400px;
    position: absolute;
    background-image: url("./starter-code/assets/bg-pattern-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 6rem;
  }

  .hero {
    width: 68%;
    padding: 0;
  }

  h1 {
    font-size: 4rem;
    line-height: 100%;
    letter-spacing: -0.727273px;
  }

  .app-image {
    width: 35%;
    margin: 13rem auto;
    transform: translateY(-7.25rem);
    margin-left: 4rem;
    z-index: 1;
  }

  .app-information {
    background-size: 37%;
    height: 600px;
    margin-bottom: 6rem;
  }

  .premiumeq {
    width: 52vw;
    transform: translateY(-375px) translateX(220px);
    z-index: 2;
  }

  footer {
    margin-top: 12rem;
    padding: 0;
    grid-template-areas:
      "footer-logo footer-logo"
      "footer-text footer-socials";
  }

  .footer-text {
    margin-bottom: 0;
  }

  .footer-socials {
    justify-content: space-between;
  }
}

@media (min-width: 961px) and (max-width: 1024px) {
  .premiumeq {
    transform: translateY(-600px) translateX(350px);
  }

  .footer-socials {
    justify-content: flex-end;
  }
}

@media (min-width: 1025px) {
  body {
    padding: 3.875rem 10.3125rem;
    background-image: url("./starter-code/assets/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -250px -250px;
  }

  header::after {
    top: -40px;
    right: 0px;
    width: 312px;
    height: 468px;
    position: absolute;
    background-image: url("./starter-code/assets/bg-pattern-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    margin-bottom: 1rem;
  }

  .hero {
    width: 80%;
  }

  h1 {
    font-size: min(5.5rem, 6.1vw);
    line-height: 100%;
    letter-spacing: -1px;
  }

  .hero p {
    width: 57vw;
    font-size: 1.25rem;
    line-height: 170%;
  }

  .app-image {
    width: 22%;
    margin: 13rem auto;
    transform: translateY(-10.25rem);
    margin-left: 4rem;
    z-index: 1;
  }

  .app-information {
    height: 500px;
    background-position: 40% -50px;
    background-size: 35%;
  }

  .premiumeq {
    width: 31vw;
    margin: 0;
    margin-right: 16.25rem;
    transform: translateX(580px) translateY(-630px);
  }

  .premiumeq > p:nth-child(2) {
    font-size: 1.25rem;
    line-height: 170%;
  }

  footer {
    grid-template-areas: "footer-logo footer-text footer-socials";
    padding: 0;
    margin-top: 12rem;
  }

  .footer-text {
    width: 55%;
    margin-left: 8.5625rem;
  }

  .footer--logo {
    margin: 0;
    align-self: baseline;
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
